.col{
	background-color: rgb(255, 12, 12);
	border: 1px solid white;
}

.img-r-1{
	width: 90%;
}

.height1{
	width: 100%;
}

.hr-l{
	background-color:#ffc62a;
	width: 55%;
	height: .3rem;
}

.hr-r{
	background-color:#ffc62a;
	width: 55%;
	height: .3rem;
	margin-top: 1rem;
	text-align: end;
	margin-left: 45%;
}

.left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.right{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}